/* __________________________________________________ Modo Noturno ____________________________________________________ */

:root{

	/*******************************		NAVBAR	*/
	--Navbar-color:#583e6b;

	/*******************************		HEADER	*/

	--HeaderName-color:  #f2f2f2;
	--HeaderLastName-color: #9400d3;
	--text-shadow: -1px -1px 3px #222, 2px 2px 5px #f2f2f2, 0 0 50px #f2f2f2;

	/*******************************		COLOR	*/
	--black-color: #222;
	--span-color: #9400d3;
	--title-color: #f2f2f2;
	--subtitle-color: #583e6b;
	
};

.darkmodelabel{
	cursor: pointer;
	content: ' off';
	color: red;

}
.main{


	position: absolute;
	width: 100%;
	transition: .5s ease-in-out background,.5s ease-in-out color;
}
#darkmodetoggle{
	display: none;
}
#darkmodetoggle:checked + main {


	--text-shadow: 	-2px -2px 5px #000, 2px 2px 5px #000, 0 0 50px #000;
	--Navbar-color:none;
	--black-color: #f2f2f2;
	--title-color: #f2f2f2;
	--subtitle-color: #f2f2f2;


	background:linear-gradient(to right,rgba(30,30,47,.8),rgba(30,30,47,.8)),
	url("../Img/background.png") ;
	background-size: cover; 

	
	transition: .5s ease-in-out background,.5s ease-in-out color;
}

#darkmodetoggle:checked + main .darkmodelabel:after {
	
}

