/*	@author: "Rui Barbosa"	*/
/********* Importando fontes **********/
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&family=Courier+Prime:wght@400;700&display=swap');
/*	Fontes:
			font-family: 'Archivo', sans-serif;
			font-family: 'Courier Prime', monospace;
*/

/********* Definição de Paleta de Cores **********
	Background: #1e1e2f | Preto Azulado
*/


/********* Estrutura principal *********/
body{
	

	/*background-attachment: fixed; /*fixar background*/

	/*background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

*/
	background: url(../Img/background2.svg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	font-family: 'Courier Prime', monospace;
	font-size: 1em;



}

a{	color: #fff; }

section{
	margin: 0;	
	padding-top: 1vw;	
}

/*Menu Hamburguer*/
.navbar-light .navbar-toggler-icon{ background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); } 
#navbar{
	box-shadow: 2px 2px 2px 1px rgba(127,63,191,0.2);
	background-color: var(--Navbar-color);	
}
/* __________________________________________________ View 1 ____________________________________________________ */
/* ___________ Icones Social ___________ */
#social-icons{
	margin: 0;
	padding: 0;
}
#img-linkedin{
	background-color: none;
	width: 2em;

}
#img-github{
	background-color: none;
	width: 2em;

}
#img-instagram{
	background-color: none;
	width: 2em;
}
#img-linkedin:hover{
	-webkit-filter: drop-shadow(5px 5px 5px rgba(148, 0, 211,.7));
    filter: drop-shadow(5px 5px 5px rgba(148, 0, 211,.7));
}
#img-github:hover{
	-webkit-filter: drop-shadow(5px 5px 5px rgba(148, 0, 211,.7));
    filter: drop-shadow(5px 5px 5px rgba(148, 0, 211,.7));
}
#img-instagram:hover{
	-webkit-filter: drop-shadow(5px 5px 5px rgba(148, 0, 211,.7));
    filter: drop-shadow(5px 5px 5px rgba(148, 0, 211,.7));
}

@keyframes float{
	0%,100%{
		box-shadow:0 5px 15px 0 rgba(0,0,0,.6);
		transform:translatey(0)
	}
	50%{
		box-shadow:0 25px 15px 0 rgba(0,0,0,.2);
		transform:translatey(-3px)
	}
}


/* ___________ Header 1 ___________ */
#HeaderName{
	color: var(--HeaderName-color);
	font-weight:500;
	font-size: 5vw;



}
#HeaderName:hover{
	-webkit-filter: drop-shadow(5px 10px 5px rgba(148, 0, 211,.4));
    filter: drop-shadow(5px 10px 5px rgba(148, 0, 211,.4));
}
#HeaderLastName{
	color: var(--HeaderLastName-color);	
	font-weight:500;
	font-size: 5vw;


}
#HeaderLastName:hover{
	-webkit-filter: drop-shadow(5px 10px 5px rgba(148, 0, 211,.4));
    filter: drop-shadow(5px 10px 5px rgba(148, 0, 211,.4));


}
#HeaderProfission{
	color: var(--Headerprofission-color);	
	font-weight:500;
	font-size: 2vw;	


	
}
#HeaderProfission:hover{
	-webkit-filter: drop-shadow(5px 10px 5px rgba(148, 0, 211,.7));
    filter: drop-shadow(5px 10px 5px rgba(148, 0, 211,.7));
}

#View1{
	display: table-cell;
	vertical-align: middle;

	height: 100vh;
	width: 100vw;
}
.View1_Div {
    display: flex;
    flex-wrap: wrap;
}
.View1_Div-link {
    width: 50%;
}
.View1_Div-link h3{
	font-size: 2vw;
}
.View1_Div-link img{
	width: 30vw;
}
.View1_Div-link-machine{
    max-width: 580px;
    text-align: left;
	font-family:'Courier New', Courier, monospace;
    color: var(--black-color);
    font-size: 1.3vw;

}
.View1_Div-link-machine:hover{
	-webkit-filter: drop-shadow(10px 10px 5px rgba(148, 0, 211,.9));
    filter: drop-shadow(10px 10px 5px rgba(148, 0, 211,.9));
}

.span{
	color: var(--span-color);
	font-weight:600;
}


.link-description{
	color: white;
}
.link-description:hover{
	color: white;
	text-decoration: none;
}



/* __________________________________________________ View 2 ____________________________________________________ */

.Title_View2{
	color: var(--title-color);
	text-shadow: var(--text-shadow);
	font-weight:500;
	font-size: 3vw;
	margin-left: 2vw;
	margin-bottom: 2vw;

}
.Subtitle_View2{
	color: var(--subtitle-color);
	
	font-weight:500;
	font-size: 1.2vw;
	margin-left: 2vw;
	margin-bottom: 1vw;
	margin-top: 1vw;
	text-shadow: var(--text-shadow);
}


#View2{
	height: 100vh;
	width: 99vw;
	}
.View2_Div {
    display: flex;
    flex-wrap: wrap;
 }
.View2_Div-link {
    width: 12%;
    padding: 0;

}
.View2_Div-link h3{
	font-size: 2vw;

}
.View2_Div-link img{
	width: 30vw;
}
.View2_Div-link-machine{
    max-width: 580px;
    text-align: left;
	font-family:'Courier New', Courier, monospace;
    color: #fff;
    font-size: 1.3vw;
}
.View2_Div-link-machine:hover{
	-webkit-filter: drop-shadow(10px 10px 5px rgba(148, 0, 211,.9));
    filter: drop-shadow(10px 10px 5px rgba(148, 0, 211,.9));
}



/* __________________________________________________ RESPONSIVE ____________________________________________________ */
img{
	max-width: 100%; /* todas as imagens do site ficam responsivas */
}

/* ___________ max-width:760px ___________ */
@media screen and (max-width:760px){
	.View1_Div-link {
    	width: 100%;
	}
	.View2_Div-link {
    	width: 25%;
	}
	#HeaderName{
		font-size: 15vw;
	}
	#HeaderLastName{
		font-size: 15vw;
	}
	#HeaderProfission{
		font-size: 5vw;	
	}
	section{
		margin: 0;	
		padding-top: 20vh;	
	}
	.View1_Div-link-machine{
		font-size: 3vw;	
	}
	#social-icons{
		margin-bottom: 20vw;
	}
	
	.Title_View2{
		font-size: 6vw;
	}
	.Subtitle_View2{
		font-size: 4vw;
		margin-bottom: 10vw;
	
	}

}
/* ___________ max-width:480px ___________ */

@media screen and (max-width: 480px){	

	.View1_Div-link {
    	width: 100%;
	}
	.View2_Div-link {
    	width: 25%;
	}
	#View2{
	height: 150vh;
	}
	#HeaderName{
		font-size: 15vw;
	}
	#HeaderLastName{
		font-size: 15vw;
	}
	#HeaderProfission{
		font-size: 5vw;	
	}
	section{
		margin: 0;	
		padding-top: 10vh;	
	}
	.View1_Div-link-machine{
		font-size: 3.5vw;	
	}

	.Title_View2{
		font-size: 6vw;
	}
	.Subtitle_View2{
		font-size: 5vw;
		margin-bottom: 10vw;
	
	}

}





