/* ___________ max-width:760px ___________ */
@media screen and (max-width:760px){
	.View1_Div-link {
    	width: 100%;
	}
	.View2_Div-link {
    	width: 25%;
	}
	#HeaderName{
		font-size: 15vw;
	}
	#HeaderLastName{
		font-size: 15vw;
	}
	#HeaderProfission{
		font-size: 5vw;	
	}
	section{
		margin: 0;	
		/* padding-top: 20vh;	 */
	}
	.View1_Div-link-machine{
		font-size: 3vw;	
	}
	#social-icons{
		margin-bottom: 20vw;
	}
	
	.Title_View2{
		font-size: 6vw;
	}
	.Subtitle_View2{
		font-size: 4vw;
		margin-bottom: 10vw;
	}

	
}