#View2{
	background-image: linear-gradient(rgba(9, 8, 53, 0.9),rgba(133, 34, 100, 0.5)),
                  url("../../images/background2.svg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

	height: 90vh;
	padding: 3vw;
	text-align: center;
	}
.View2_Div {
    display: flex;
    flex-wrap: wrap;		
 }
.View2_Div-link {
    width: 20%;
    padding: 0;
}
.View2_Div-link h3{
		font-size: 2em;

}
.View2_Div-link img{
	width: var(--icons-skills);
}
.View2_Div-link-machine{
    max-width: 580px;
    text-align: left;
    color: #fff;
	font-size: 5em;   
    font-weight: 100;
}
